* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: url('./image.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    
}

h1 {
    position: relative;
    top: -190px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

form {
    
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 45px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}


p {
    margin-bottom: 15px;
}

label {
    font-size: 15px;
}
label i {
    margin-right: 8px; 
    font-size: 1.2em; 
    color: #007BFF; 
    
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: #ff4d4d; 
    background-color: rgba(255, 77, 77, 0.1); 
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}