
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('./10.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}
.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.login-btn {
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #0056b3;
}
